.App {
  max-width: 800px;
  margin: auto;
}

.site-title {
  font-size: 1.5rem;
  margin: 24px 0 84px 0;
  text-align: center;
}

h5 {
  margin: 0 0 12px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}

.rate-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 48px;
  align-items: center;
  justify-content: space-between;
}

.rate-input input {
  margin: 0 20px;
  border: none;
  padding: 24px;
  border-radius: 42px;
  cursor: pointer;
  outline: 0;
  min-width: 42px;
}

.rate-input label {
  min-width: 135px;
  width: 50%;
}

.result {
  margin-top: 32px;
  font-size: 4.5rem;
  font-weight: bold;
  overflow-wrap: anywhere;
}

.how-to {
  margin-top: 360px;
}

input[type=number]::-webkit-inner-spin-button {
  height: 48px;
  width: 24px;
}

footer {
  padding: 0 12px 42px;
}

.formula {
  color: white;
  display: block;
  font-weight: bold;
  margin: 8px 0 6px;
}